<?xml version="1.0" encoding="utf-8"?>
<Wiki>
    <Category name="Introduction">
        <Page name="About BackOffice Wiki">![alt text](https://uape.co.uk/img/uape-wiki.jpg "uApe Ecommerce")

Welcome to BackOffice Wiki
==========================

This package was developed out of a requirement to allow back office users to share information and processes.

The package can also be useful for Umbraco developers to leave instructions for the back office content editors.
There are no additional SQL tables added. The Wiki only uses XML files.

Wiki page content is written in [Markdown](http://en.wikipedia.com/wiki/Markdown).

&lt;br/&gt;

---

Dependencies
------------

Transformation from Markdown to Html is done using [MarkdownSharp](https://code.google.com/p/markdownsharp/).

Styles and Modal dialogs are from [Twitter Bootstrap](http://getbootstrap.com/).

Draggable sortable lists are using [jQuery Sortable](http://johnny.github.io/jquery-sortable/).

Everything required is included in the Umbraco package installation.

&lt;br/&gt;

---

Installation
------------

The package includes a 'package action script' which executes when it is installed to configure 
itself automatically.

The package will automatically add ...

* A *backOfficeWiki* configuration section to the Umbraco web.config
* A *backOfficeWiki* section to the bottom of the Umbraco web.config
* A *tab* element to the Config/Dashboard.config file

If there are any problems with uninstallation, removing the above elements will return Umbraco
to it's previous state.

The package adds a new configuration file called Config/backofficewiki.config where permissions
can be set to restrict actions of back office users based on their 'user type'.

&lt;br/&gt;

---

Screen Grabs
------------

&lt;br/&gt;
        
#### Display Mode

Display mode is for showing the rendered Wiki content, the Edit button in the toolbar can be controlled
with permissions in the BackOfficeWiki.config file.

&lt;br/&gt;

![alt text](https://uape.co.uk/img/wiki-display-mode.jpg "uApe BackOffice Wiki - Display Mode")

---
    
&lt;br/&gt;

#### Edit Mode

Edit mode allows manipulation of Wiki pages using Markdown, as used by Github and Stack Overflow, and is
again restrictable using permissions set up in the config file.

&lt;br/&gt;

![alt text](https://uape.co.uk/img/wiki-edit-mode.jpg "uApe BackOffice Wiki - Edit Mode")

---
    
&lt;br/&gt;
    
#### Category Editor

The Category Editor allows re-ordering of categories by dragging, adding new categories and deleting old ones, 
functionality can be restricted again with permissions.

&lt;br/&gt;

![alt text](https://uape.co.uk/img/wiki-category-editor.jpg "uApe BackOffice Wiki - Category Editor")

---

Copyright &amp;copy; 2013 uApe Ecommerce Limited. All rights reserved.</Page>
    </Category><Category name="Reference">
        <Page name="Markdown Help"># Getting Started with Markdown

This Wiki page uses most of the supported features of Markdown that you can use in the BackOffice Wiki.

Click the 'Edit' button in the toolbar to see how the source of the page is formatted.

*Remember to use 4 spaces rather than the tab key where indentation is required.*

---

### Headings

# H1
## H2
### H3
#### H4
##### H5
###### H6

---

### Emphasis

Emphasis, aka italics, with *asterisks* or _underscores_.

Strong emphasis, aka bold, with **asterisks** or __underscores__.

Combined emphasis with **asterisks and _underscores_**.

Strikethrough uses two tildes. ~~Scratch this.~~

---

### Lists

1. First ordered list item
2. Another item
  * Unordered sub-list. 
1. Actual numbers don't matter, just that it's a number
  1. Ordered sub-list
4. And another item.

---

### Links

[uApe Ecommerce](https://uape.co.uk)

---

### Images

![alt text](https://uape.co.uk/img/uape-logo.png "uApe Ecommerce")

&gt; A blockquote!

+ List Item 1
+ List Item 2
+ List Item 3
+ List Item 4

    This is a **PRE** code element
    This is another line on it.

---

## Useful Links

[Markdown Tutorial By John Gruber](http://daringfireball.net/projects/markdown/basics)

[Markdown Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

---
</Page>
    </Category>
    </Wiki>
