/* Element overrides */
h1, h2, h3 {
  margin-top: 10px; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

/* Utility classes */
.center {
  text-align: center; }

.right {
  text-align: right;
  padding-right: 0; }

.space {
  margin-top: 20px;
  margin-bottom: 20px; }

.smallspace {
  margin-top: 10px;
  margin-bottom: 10px; }

.whiteback {
  background-color: white !important;
  background-image: none; }

.uape-label {
  margin-top: 6px; }

/* Bootstrap overrides */
.breadcrumb {
  background-color: White;
  border: solid 1px #e0e0e0;
  margin-bottom: 5px; }
  .breadcrumb li {
    margin-bottom: 0px !important;
    font-size: 90%; }

.nav > li > a:hover {
  background-color: #cccccc; }

.alert {
  margin-bottom: 5px; }

/* Umbraco overrides */
.editorIcon,
.editorIconDown,
.editorIconOver {
  width: 22px;
  height: 23px;
  box-sizing: content-box; }

.menubar .sl {
  margin-left: 10px;
  margin-top: 2px; }
  .menubar .sl input, .menubar .sl img {
    float: left; }
  .menubar .sl img {
    margin: 5px 10px 0px 10px; }

/* Draggable classes */
.dragging, .dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: .5;
  z-index: 2000; }

ul.categorylist,
ul.categorylist ol {
  margin: 0;
  padding: 5px 0px 5px 0px;
  list-style: none;
  cursor: pointer;
  display: block;
  clear: both; }
  ul.categorylist li,
  ul.categorylist ol li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    background: #f0f0f0; }
  ul.categorylist li.placeholder,
  ul.categorylist ol li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC; }

ul.categorylist > li {
  margin-bottom: 10px !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 7px; }

ul.categorylist ol > li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 7px; }

/* BackOffice Wiki styles */
.displaystyle {
  font-size: 14px;
  font-family: arial; }

.wiki {
  clear: both; }
  .wiki li {
    margin-bottom: 10px; }
  .wiki .display {
    margin-top: 10px; }
  .wiki .edit textarea, .wiki .new textarea, .wiki .cateditor textarea {
    min-height: 500px;
    resize: none;
    margin-top: 5px;
    padding-top: 10px; }
  .wiki .edit input[type=text], .wiki .edit select, .wiki .new input[type=text], .wiki .new select, .wiki .cateditor input[type=text], .wiki .cateditor select {
    padding: 5px; }

