@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/* Element overrides */
h1, h2, h3 {
	margin-top:10px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Utility classes */
.center {
	text-align:center;
}

.right {
	text-align:right;
	padding-right:0;
}

.space {
	margin-top:20px;
	margin-bottom:20px;
}

.smallspace {
	margin-top:10px;
	margin-bottom:10px;
}

.whiteback {
	background-color:white !important;
	background-image:none;
}

.uape-label
{
	margin-top:6px;
}

/* Bootstrap overrides */
.breadcrumb
{
	background-color:White;
	border:solid 1px #e0e0e0;
	margin-bottom:5px;
	& li {
		margin-bottom:0px !important;
		font-size:90%;
	}
}

.nav>li>a:hover
{
	background-color:#cccccc;
}

.alert
{
	margin-bottom:5px;
}

/* Umbraco overrides */
.editorIcon,
.editorIconDown,
.editorIconOver
{
	width:22px;
	height:23px;
	box-sizing: content-box;
}

.menubar .sl
{
	margin-left:10px;
	margin-top:2px;
	& input, & img
	{
		float:left;
	}
	& img 
	{
		margin:5px 10px 0px 10px;
	}
}

/* Draggable classes */
.dragging, .dragging * {
  cursor: move !important;
}

.dragged
{
  position:absolute;
  opacity:.5;
  z-index:2000;
}

ul.categorylist,
ul.categorylist ol
{
	margin:0;
	padding:5px 0px 5px 0px;
	list-style:none;
    cursor: pointer;
	display: block;
	clear:both;
	& li
	{
		display: block;
		margin: 5px;
		padding: 5px;
		border: 1px solid #CCC;
		background: #f0f0f0;
	}
	& li.placeholder
	{
		position: relative;
		margin: 0;
		padding: 0;
		border: 1px solid #CCC;
	}
}

ul.categorylist>li {
	margin-bottom:10px !important;
	@include border-radius(10px);
	padding:7px;
}

ul.categorylist ol
{
	&>li {
		@include border-radius(5px);
		background-color:white;
		padding:7px;
	}
}

/* BackOffice Wiki styles */
.displaystyle
{
	font-size:14px;
	font-family:arial;
}

.wiki
{
	clear: both;
	& li
	{
		margin-bottom:10px;
	}

	& .display
	{
		margin-top:10px;
	}
	& .edit, & .new, & .cateditor
	{
		& textarea
		{
			min-height:500px;
			resize:none;
			margin-top:5px;
			padding-top:10px;
		}
		& input[type=text],
		& select
		{
			padding:5px;
		}
	}
}
