<?xml version="1.0"?>
<backOfficeWiki>
  
  <!-- The path to the wiki XML data file -->
  <XmlDataPath path="~/App_Data/backofficewiki.config"></XmlDataPath>
  
  <!-- Permissions settings -->
  <Permissions>
    
    <!-- Comma seperated list of roles, for which the "Edit Page" menu button appears -->
    <EditPage roles="Administrators"/>

    <!-- Comma seperated list of roles, for which the "Save Page" menu button appears in edit mode -->
    <SavePage roles="Administrators"/>

    <!-- Comma seperated list of roles, for which the "Delete Page" menu button appears in edit mode -->
    <DeletePage roles="Administrators"/>

    <!-- Comma seperated list of roles, for which the "New Page" menu button appears in edit mode -->
    <NewPage roles="Administrators"/>

    <!-- Comma seperated list of roles, for which the "Category Editor" menu button appears in edit mode -->
    <CategoryEditor roles="Administrators"/>

    <!-- Comma seperated list of roles, allowed to create new categories -->
    <CreateCategory roles="Administrators"/>

    <!-- Comma seperated list of roles, allowed to delete categories -->
    <DeleteCategory roles="Administrators"/>
    
  </Permissions>
  
</backOfficeWiki>
